COMPOSE_PROJECT_NAME=rezepte

REZEPTE_TEST=0
APP_BASE_URL=https://....

MONGODB_IMAGE=mongo:7
MONGO_INITDB_ROOT_USERNAME=rezepte
MONGODB_DATABASE=rezepte

JWT_ALGORITHM=HS256

S3_ENDPOINT_URL=https://nbg1.your-objectstorage.com
S3_BUCKET=familienrezepte-images

SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@....

