APP_BASE_URL=<server-url>

MONGO_INITDB_ROOT_PASSWORD=change-me
MONGODB_URI=mongodb://rezepte:change-me@mongodb:27017/rezepte?authSource=admin

S3_ACCESS_KEY=rezepte-minio
S3_SECRET_KEY=change-me-minio-password
