COMPOSE_PROJECT_NAME=rezepte-prod

REZEPTE_TEST=0
APP_BASE_URL=https://rezepte.unbenet.de

# Use mongo:7 or newer only on AVX-capable servers.
# On a non-AVX test server, temporarily use mongo:4.4.
MONGODB_IMAGE=mongo:7
MONGO_INITDB_ROOT_USERNAME=rezepte
MONGODB_DATABASE=rezepte

KEYCLOAK_ADMIN_USER=admin

# Example for Hetzner Object Storage in Nuremberg.
# Change this to the actual location of your bucket.
S3_ENDPOINT_URL=https://nbg1.your-objectstorage.com
S3_BUCKET=familienrezepte-images
